# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# keseve alata
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.mypy_cache/

# baze iz testova
*.sqlite3
db.sqlite3

# windows
Thumbs.db
.DS_Store
